.background {
	border-bottom:1px solid #F7C222;
	background-image: url(/static/img/dark_leather.png);
	position:relative;
	height:900px;
	padding:50px;
	width: 100%;
}
header {
	border-bottom:1px solid #F7C222;
}

header .container {
	background-color:black;
	border-bottom:1px solid #F7C222;
	height:120px;
	z-index:-1;
}

.navbar-static-top {
	border-bottom:1px solid #F7C222;
	display: block;
	height:120px;
}
.navbar-static-top .nav {
	float:right;
	z-index:99;
	display:block;
}

.navbar-static-top .navbar-inner {
	background-image:url(/static/img/dark_leather.png);
	height: 120px;
}
/*.logo {
	float:left;
	margin-top:5px;
	margin-left:10px;
	margin-right: 10px;
	height:50px;
	width:70px;
	text-align: center;
	z-index:1000;
}*/
.logo1{
	/*border: 1px solid red;*/
	float:right;
	margin-top:5px;
	margin-left: 10px;
	margin-right: 100px;
	height:90px;
	width:70px;
	z-index:100;
	display: inline-block;
}
.logo2 {
	/*border: 1px solid blue;*/
	float:right;
	margin-top:-85px;
	margin-left: 60px;
	margin-right: 600px;
	height:90px;
	width:70px;
	z-index:100;
	/*display: inline-block;*/
}

.low_backgrd {
	background-image: url(/static/img/flames.jpeg);
	position:absolute;
	margin-top: auto;
	height:200px;
	width: 100%;
	text-align: center;
}

.form_login {
	border:1px solid grey;
	box-shadow: 5px 5px 15px 5px;
	border-radius: 10px 10px;
	width: 200px;
	margin-left: 500px;
	margin-right: auto;
	margin-top: 50px;
	padding-right: 5px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;	
	height: 200px;
	background-color: white;
}
.form_login label {
	/*border: 1px solid red;*/
	margin-left: 120px;
}
.form_login input {
	margin-left: 120px;
}
.form_login .btn {
	margin-top: 10px;
	margin-left: 180px;
}

.form_signup {
	border:1px solid #80a0b7;
	border-radius: 10px 10px;
	box-shadow: 5px 5px 15px 5px;
	width: 300px;
	padding-right: 30px;
	padding-left: 10px;	
	padding-top: 20px;
	padding-bottom: 20px;
	height: 300px;
	background-color: white;
}
.form_signup label {
	/*border: 1px solid red;*/
	margin-left: 120px;
	padding-bottom: 2px;
	padding-top: 5px;
	font-size: 1.1em;
	margin-bottom: 7px;
}
.form_signup input {
	margin-left: 120px;
}
.form_signup .btn {
	/*border: 1px solid red;*/
	margin-left: 180px;
	margin-top: 10px;
}

.to_signup {
	text-align: center;
	margin-top: 50px;
	margin-left: -100px;
}
.signup_btn {
	margin-left:750px;
	margin-right:auto;
	margin-top:auto;
	padding-top:30px;
	position:absolute;
}

.form_login label {
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 5px;
}
.items {
	border: 1px solid grey;
}
.items img {
	margin-left: : 20px;
	padding: 20px;
	display: inline-block;
}
.items span {
	display: inline-block;
	padding: 10px;
}

h1 {
	/*margin-left:500px;*/
	position:relative;
	margin-top:40px;
	/*border:1px solid green;*/
	text-align:center;
	padding-top:10px;
}

h2 {
	margin-left:-120px;
	margin-top:auto;
	text-align:center;
	padding-top:5px;
	clear: both;
}

h3 {
	margin-left:auto;
	margin-top:auto;
	text-align:center;
	padding:10px;
}

.header a {
	color:white;
}


/* Test for the shop */

.img_johnny {
	float: left;
	margin-left: 80px;
}

.products {
	clear: both;
}

.left_top {
	border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-top: 5px;
	width: 32%;
	height: 300px;
	float: left;
	text-align: center;
}
.left_bottom {
	border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-top: 5px;
	width: 32%;
	height: 300px;
	float: left;
	text-align: center;
}
.center_top {
	border: 2px solid black;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-top: 5px;
	width: 32%;
	height: 300px;
	float: left;
	text-align: center;
}
.center_bottom {
	border: 2px solid black;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-top: 5px;
	width: 32%;
	height: 300px;
	float: left;
	text-align: center;
}
.right_top {
	border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-left: 5px;
	padding-top: 5px;
	height: 300px;
	width: 32%;
	float: right;
	text-align: center;
}
.right_bottom {
	border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-left: 5px;
	padding-top: 5px;
	height: 300px;
	width: 32%;
	float: right;
	text-align: center;
}
.name_product {
	font-weight: bold;
	color: #D8B62F;
}
.price_product {
	font-weight: bold;
	color: #E5955B;
}
img {
	height: 200px;
	width: 200px;
}

.user_basket {
	width: 80%;
	margin-top: 20px;
}