{% extends "layout.html" %}
{% block body %}
		
<header>
<div class="navbar-static-top">
	<div class= "navbar-inner">
		<div class="container">
			<img src="/static/img/skull_fire.jpg" alt="logo" class="logo1">
			<!-- <div class="logo">
				<a class="brand" href="{{url_for("index")}}"> -->
					<span style="font-size: 28px; margin-top:-10px; margin-right: 150px; float: right; display: inline-block; z-index: 100; color: white;">
						<h1>Ze Rocker's Store </h1>
					</span>
				<!-- </a>
			</div> -->
			<img src="/static/img/skull_fire.jpg" alt="logo" class="logo2">	
		</div>
	</div>
</div>
</header>

<div class="background">

	{% if username %}
		<a href="/logout" class="btn btn-danger" style="float:right; margin-right: 150px;">
			Log out
		</a>
	{% endif %}

	{{ username }}'s basket

	<div class="basket">

	</div>

</div>

<div class="low_backgrd">
	<p> Copyright 2013 - Ele <br>
		'Code Your Job' Hackthon by BeMyApp
	</p>
</div>
		
	

{% endblock %}