<!doctype html>


<html>
	<head>
		<meta charset="utf-8">
		<title>Ze Rocker's Store</title>
		<link rel="stylesheet" href="static/css/bootstrap.css"
		type="text/css">
		<link rel="stylesheet" href="static/css/rocker.css"
		type="text/css">

		{% with messages = get_flashed_messages() %}
  			{% if messages %}
    			<ul class=flashes>
    			{% for message in messages %}
     				 <li>{{ message }}</li>
    			{% endfor %}
   				 </ul>
  			{% endif %}
		{% endwith %}
	</head>

	<body>
		
		{% block body %}{% endblock %}
		
	</body>
</html>