{% extends "layout.html" %}
{% block body %}

<header>
<div class="navbar-static-top">
	<div class= "navbar-inner">
		<div class="container">
			<img src="/static/img/skull_fire.jpg" alt="logo" class="logo1">
			<!-- <div class="logo">
				<a class="brand" href="{{url_for("index")}}"> -->
					<span style="font-size: 28px; margin-top:-10px; margin-right: 150px; float: right; display: inline-block; z-index: 100; color: white;">
						<h1>Ze Rocker's Store </h1>
					</span>
				<!-- </a>
			</div> -->
			<img src="/static/img/skull_fire.jpg" alt="logo" class="logo2">
		</div>
	</div>
</div>
</header>

<div class="background">
	
	<h2 style="color:#F7C222; text-align; margin-top:100px;">Connecte-toi!</h2>  

	<div style="float: left; text-align: center; margin-left: 200px; margin-top: 60px;">
	<h3>Log in here</h3>
	</div>

	<div style="float:right; text-align: center; width: 30%; margin-top: 60px; margin-right: 280px;">
	<h3>Sign up here!</h3>
	</div>

	<div class="form_login" style="float: left; width: 30%; margin-left: 70px; margin-top: 50px;">
		<form method="POST" action="{{ url_for("authenticate")}} ">
			<label> Email </label>
			<input type="text" name="email" placeholder="Entre ton email ici"></input>
			<label> Mot de passe </label>
			<input type="password" name="password" placeholder="Entre ton mot de passe ici"></input><br>
			<input type="submit" value="Log in" class="btn"></input>
		</form>
	</div>
	
	<div class="form_signup" style="float:right; width: 30%; margin-top: 50px; margin-right: 250px;">
		<form method="POST" action="{{ url_for("new_user")}}">
			<label><strong>Pseudo</strong></label>
			<input type="text" name="username" placeholder="Entre ton pseudo"></input>
			<label><strong>Email</strong></label>
			<input type="text" name="email" placeholder="Entre ton adresse email"></input>
			<label><strong>Mot de Passe</strong> (5 caractères minimum)</label> 
			<input type="password" name="password1" placeholder="Choisi un mot de passe"></input>
			<input type="password" name="password2" placeholder="Ah que tu rentre encore ton mot de passe"></input>
			<input type="submit" value="Sign Up" class="btn"></input>
		</form>
	</div>

</div>

<div class="low_backgrd">
	<p> Copyright 2013 - Ele <br>
		'Code Your Job' Hackthon by BeMyApp
	</p>
</div>

{% endblock %}