{% extends "layout.html" %}
{% block body %}

<header>
<div class="navbar-static-top">
	<div class= "navbar-inner">
		<div class="container">
			<img src="/static/img/skull_fire.jpg" alt="logo" class="logo1">
			<!-- <div class="logo">
				<a class="brand" href="{{url_for("index")}}"> -->
					<span style="font-size: 28px; margin-top:-10px; margin-right: 150px; float: right; display: inline-block; z-index: 100; color: white;">
						<h1>Ze Rocker's Store </h1>
					</span>
				<!-- </a>
			</div> -->
			<img src="/static/img/skull_fire.jpg" alt="logo" class="logo2">
		</div>
	</div>
</div>
</header>

<div class="background">
	
	<h2 style="color:#F7C222; text-align;">Connecte-toi!</h2>  


	<div class="form_login">
			<form method="POST" action="{{ url_for("authenticate")}} ">
				<label> Email </label>
				<input type="text" name="email" placeholder="Entre ton email ici"></input>
				<label> Mot de passe </label>
				<input type="password" name="password" placeholder="Entre ton mot de passe ici"></input>
				<input type="submit" value="Log in" class="btn"></input>
			</form>
	</div>


	<div class="to_signup">
		<h3>Crée ton compte en cliquant ci-dessous!</h3>
		<div class="signup_btn">
			<a class="btn btn-large btn-inverse" href="{{url_for("sign_up")}}"> Sign up </a>
		</div>
	</div>

</div>

<div class="low_backgrd">
	<p> Copyright 2013 - Ele <br>
		'Code Your Job' Hackthon by BeMyApp
	</p>
</div>

{% endblock %}