{% extends "layout.html" %}
{% block body %}

<header>
<div class="navbar-static-top">
	<div class= "navbar-inner">
		<div class="container">
			<img src="/static/img/skull_fire.jpg" alt="logo" class="logo1">
			<!-- <div class="logo">
				<a class="brand" href="{{url_for("index")}}"> -->
					<span style="font-size: 28px; margin-top:-10px; margin-right: 150px; float: right; display: inline-block; z-index: 100; color: white;">
						<h1>Ze Rocker's Store </h1>
					</span>
				<!-- </a>
			</div> -->
			<img src="/static/img/skull_fire.jpg" alt="logo" class="logo2">
		</div>
	</div>
</div>
</header>


<div class="background">
<h2>Pour acquérir la panoplie complète du <strong>ROCKER</strong><br>
Crée ton compte maintenant!</h2>

<div class="form_signup">
		<form method="POST" action="{{ url_for("new_user")}}">
			<label><strong>Pseudo</strong></label>
			<input type="text" name="username" placeholder="Entre ton pseudo"></input>
			<label><strong>Email</strong></label>
			<input type="text" name="email" placeholder="Entre ton adresse email"></input>
			<label><strong>Mot de Passe</strong> (5 caractères minimum)</label> 
			<input type="password" name="password1" placeholder="Choisi un mot de passe"></input>
			<input type="password" name="password2" placeholder="Ah que tu rentre encore ton mot de passe"></input>
			<input type="submit" value="Sign Up" class="btn"></input>
		</form>
</div>
</div>
<div class="low_backgrd">
</div>

{% endblock %}