{% extends "layout.html" %}
{% block body %}
		
<header>
<div class="navbar-static-top">
	<div class= "navbar-inner">
		<div class="container">
			<img src="/static/img/skull_fire.jpg" alt="logo" class="logo1">
			<!-- <div class="logo">
				<a class="brand" href="{{url_for("index")}}"> -->
					<span style="font-size: 28px; margin-top:-10px; margin-right: 150px; float: right; display: inline-block; z-index: 100; color: white;">
						<h1>Ze Rocker's Store </h1>
					</span>
				<!-- </a>
			</div> -->
			<img src="/static/img/skull_fire.jpg" alt="logo" class="logo2">	
		</div>
	</div>
</div>
</header>



<div class="background">

	{% if username %}
		<a href="/logout" class="btn btn-danger" style="float:right; margin-right: 150px;">
			Log out
		</a>
	{% endif %}

	<div class="img_johnny">
		<img src="/static/img/img_johnny2.jpg"/>
	</div>

	<h1><em>{{ username }}</em> Complète ton look de <strong>ROCKER</strong> en quelques clics!</h1> 

	<div class="products"> 

		<div class="left_top">
			<div class="name_product">
				LEATHER BOOTS
			</div>
			<img src="/static/img/rock_boots.jpg">
			<div class="price_product"> price </div>
			<div class="btn_tologin">
				{% if username %}
					<a class="btn" href="/basket/{{user_id}}"> Ajouter au panier </a>
				{% else %}
					<a class="btn" href="{{url_for("login")}}"> Ajouter au panier </a>
				{% endif %}
			</div>
		</div>


		<div class="center_top">
			<div class="NAME_product">
				LEATHER PANTS
			</div>
			<img src="/static/img/leather_pants.jpeg">
			<div class="price_product"> price </div>
			<div class="btn_tologin">
				<a class="btn" href="{{url_for("login")}}"> Ajouter au panier </a>
			</div>
		</div>

		<div class="right_top">

			<div class="name_product">
				LEATHER JACKET
			</div>
			<img src="/static/img/eagle_leather_jacket.jpg">
			<div class="price_product"> price </div>
			<div class="btn_tologin">
				<a class="btn" href="{{url_for("login")}}"> Ajouter au panier </a>
			</div>
		</div>

		<div class="left_top">
			<div class="name_product">
				WOLF T-SHIRT
			</div>
			<img src="/static/img/t-shirt_wolf_dreams.jpg">
			<div class="price_product"> price </div>
			<div class="btn_tologin">
				<a class="btn" href="{{url_for("login")}}"> Ajouter au panier </a>
			</div>
		</div>


		<div class="center_top">
			<div class="name_product">
				ELECTRIC GUITARE
			</div>
			<img src="/static/img/guitare_skulls.jpg">
			<div class="price_product"> price </div>
			<div class="btn_tologin">
				<a class="btn" href="{{url_for("login")}}"> Ajouter au panier </a>
			</div>
		</div>

		<div class="right_top">
			<div class="name_product">
				MOTORCYCLE
			</div>
			<img src="/static/img/harley_davidson_motorcycle.jpg">
			<div class="price_product"> price </div>
			<div class="btn_tologin">
				<a class="btn" href="{{url_for("login")}}"> Ajouter au panier </a>
			</div>
		</div>

	</div>

</div>


<div class="low_backgrd">
	<p> Copyright 2013 - Ele <br>
		'Code Your Job' Hackthon by BeMyApp
	</p>
</div>
		
	

{% endblock %}